<form asp-action="IndexGroupBy" data-ajax="true" data-ajax-update="#reportGroupBy" data-ajax-mode="replace" id="formGroupBy">
    <button type="submit" class="btn btn-success">Tag Average Scores</button>
</form>