html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/* Eklediðimiz CSS class'larý */
.paddingtop {
    padding-top: 10px;
}

.aligncenter {
    width: 50%;
    margin: 0 auto;
}

.paddingbottom {
    padding-bottom: 20px;
}

.coloryellow {
    color: #ffd800;
}